@use '../abstracts/' as *;
.menu-section{
    .menu-ingredient{
        width: 100%;
        .ingredient-tiltle{
            @include flex($direction: row, $justify: space-between, $align: center);
        }
        .menu-salmonwrap{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: auto auto;
            gap: 1rem;
            @include mobile {
                    display: block;
                }
            .salmon-content{
            @include flex($direction: column, $justify: space-between, $align: flex-start);
            @include mobile {
                    display: none;
            
                }
            }
        }
        .seafood-wrap{
            h1{
                color: $text-color-second;
                font-size: 153px;
                line-height: 153px;
                letter-spacing: 0em;
       
            }
            .title-qcontent{
                display: none;
                @include mobile {
                        display: block;
                    }
                   
            }
        }
        .seafood-imagegrid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 1rem;
            @include mobile {
                    display: block;
                }
            .seafood-content{
                .seafood-contentwrap{
                    @include mobile {
                            display: none;
                        }
                }
            }
            .seafood-contentseccon{
                @include flex($direction: column, $justify: end, $align: flex-start);
                @include mobile {
                        display: none;
                    }
            }
            .seafood-contentseccon-last {
                display: none;
                @include mobile {
                        display: block;
                    }
            }
        }
    }
}
