@use '../abstracts/' as *;

.shopping-cart {
    background-color: $background-color-shopping;
    padding: 0.1rem 1rem;

    .vector {
        background-color: $background-color;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1rem;
        transform: translateX(5.8rem) translateY(6px);

        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }

        p {
            margin: auto;
            color: black;
            font-family: Apercu Pro;
            font-size: 9px;
            font-weight: 400;
            line-height: 9px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
}