<section class="about-section">
    <div class="container">
        <div class="about-total">
            <div class="about-text">
                <div class="text-number">
                    <span>01</span>
                </div>
                <div class="text-middle">
                    <h4>Emperor's Cooking Dynasty:</h4>
                    <h4>The History of Our Cuisine</h4>
                </div>
                <div class="text-quote">
                    <q>
                        Our esteemed chef, renowned for their passion and expertise
                        in seafood cuisine, elevates the freshest catches into culinary works of art that will delight your senses. With an
                        unwavering dedication to sourcing the highest quality seafood, our chef is deeply committed to sustainability and
                        responsible fishing practices, ensuring that each ingredient is not only delicious
                        but also ethically sourced.
                    </q> <br>
                    <q>
                        Drawing inspiration from global flavors and techniques, our
                        chef combines traditional culinary wisdom with innovative approaches to create unforgettable dishes. From succulent crab
                        cakes with a hint of Cajun spice to seared tuna atop a
                        bed of vibrant seaweed salad.
                    </q>
                </div>
            </div>
            <div class="about-image">
                <div class="image-grid">
                    <div class="image-grid1">
                        <include src="components/list-image.html" locals='{
                                                            "list": "[`/src/assets/images/main/about_section/Image_1.png`]"
                                                        }'>
                        </include>
                    </div>
                    <div class="image-grid2">
                        <include src="components/list-image.html" locals='{
                                                                                "list": "[`/src/assets/images/main/about_section/Image_1.png`]"
                                                                            }'>
                        </include>
                    </div>
                    <div class="image-grid3">
                        <include src="components/list-image.html" locals='{
                                                                                "list": "[`/src/assets/images/main/about_section/Image_1.png`]"
                                                                            }'>
                        </include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
