<section>
    <div class="callto-section">
        <div class="container">
            <div class="callto-total">
                <div class="row-one">
                    <h2>WE BUY OUR PRODUCTS ONLY FROM 
                        <img src="../assets/images/main/Call_to/div.tn-atom.png" alt="call-to-image">
                         TRUSTED
                    </h2>
                    <h2>SUPPLIERS IN ACCRA TP GUARANTEE
                        <img src="../assets/images/main/Call_to/div.tn-atom (1).png" alt="call-to-image">
                        THE
                    </h2>
                    <h2>HIGHEST QUALITY OF
                        <img src="../assets/images/main/Call_to/div.tn-atom (2).png" alt="call-to-image">
                        OUR DISHES.
                    </h2>
                    
                </div>
                <div class="call-to-btn">
                    <button>visit our restaurant</button>
                </div>
                
            </div>
        </div>
    </div>
</section>