<section>
    <div class="gallery-section">
        <div class="container">
            <div class="gallery-tiltle">
                <div class="gallery-tiltlepart">
                    <span>03</span>
                    <div class="title-wrap">
                        <h3>IN OUR VENUE, WE MAINTAIN A COASTAL AMBIANCE WITH</h3>
                        <h3>TRIDITIONAL IVORIAN ELEMENTS LIKE</h3>
                        <h3>IVORIAN PRINTS TISSUE WALLS</h3>
                        <h3>AND WOOD LIGHTING FIXTURES.</h3>
                    </div>
                </div>
                <div class="gallery-imagegrid">
                    <div class="imageone">
                        <div class="imageone-nt1">
                            <include src="components/list-image.html" locals='{
                                                                                                                                            "list": "[`/src/assets/images/main/Gallery_section/Image_1.png`]"
                                                                                                                                        }'>
                            </include>
                        </div>
                        <div class="imageone-nt2">
                            <include src="components/list-image.html" locals='{
                                                                                                                                            "list": "[`/src/assets/images/main/Gallery_section/Image_2.png`]"
                                                                                                                                        }'>
                            </include>
                        </div>
                        <div class="imageone-nt3">
                            <include src="components/list-image.html" locals='{
                                                                                                                                            "list": "[`/src/assets/images/main/Gallery_section/Image_3.png`]"
                                                                                                                                        }'>
                            </include>
                        </div>                
                    </div>
                    <div class="imagetwo">
                        <div class="two-nt1">
                            <include src="components/list-image.html"
                                locals='{
                                                                                                                                                                "list": "[`/src/assets/images/main/Gallery_section/Image_4.png`]"
                                                                                                                                                            }'>
                            </include>
                        </div>
                        <div class="two-nt2">
                            <include src="components/list-image.html"
                                locals='{
                                                                                                                                                                "list": "[`/src/assets/images/main/Gallery_section/Image_5.png`]"
                                                                                                                                                            }'>
                            </include>
                        </div>
                        <div class="two-nt3">
                            <include src="components/list-image.html"
                                locals='{
                                                                                                                                                                "list": "[`/src/assets/images/main/Gallery_section/Image_6.png`]"
                                                                                                                                                            }'>
                            </include>
                        </div>
                    </div>
                    <div class="imagethree">
                        <include src="components/list-image.html" locals='{
                                                                                                                                    "list": "[`/src/assets/images/main/Gallery_section/Image_7.png`]"
                                                                                                                                }'>
                        </include>
                        <div class="three-down">
                            <include src="components/list-image.html"
                                locals='{
                                                                                                                                                                "list": "[`/src/assets/images/main/Gallery_section/Image_8.png`]"
                                                                                                                                                            }'>
                            </include>
                        </div>
                        <include src="components/list-image.html"
                            locals='{
                                                                                                                                                                                                            "list": "[`/src/assets/images/main/Gallery_section/Image_10.png`]"
                                                                                                                                                                                                        }'>
                        </include>
                        <include src="components/list-image.html" locals='{
                                                                                                                                    "list": "[`/src/assets/images/main/Gallery_section/Image_9.png`]"
                                                                                                                                }'>
                        </include>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>