<section>
    <div class="menu-section">
        <div class="container">
            <div class="menu-ingredient">
                <div class="ingredient-tiltle">
                    <span>02</span>
                    <div class="title-wrap">
                        <h3>OUR EATERY PROVIDES AN ARRAY OF QUALITY INGREDIENTS,</h3>
                        <h3>CRAFTING A DIVERSE RANGE OF FLAVOUFUL DISHES .</h3>
                    </div>
                </div>
                <div class="menu-salmonwrap">
                    <include src="components/list-image.html" locals='{
                                                                                        "list": "[`/src/assets/images/main/Menu_section/Image_1.png`]"
                                                                                    }'>
                    </include>
                    <include src="components/list-image.html" locals='{
                                                                                        "list": "[`/src/assets/images/main/Menu_section/Image_2.png`]"
                                                                                    }'>
                    </include>
                    <div class="salmon-content">
                        <span>01</span>
                        <div class="salmon-contentwrap">
                            <h5>Exquisite Salmon Delicacies</h5>
                            <q>Discover a tantalizing array of seafood delights that await you. Explore our menu and immerse yourself in a culinary
                            journey that will satisfy your cravings for the finest flavors from the sea.</q>
                        </div>
                    </div>
                    <include src="components/list-image.html" locals='{
                                                                                        "list": "[`/src/assets/images/main/Menu_section/Image_3.png`]"
                                                                                    }'>
                    </include>
                    <include src="components/list-image.html" locals='{
                                                                                                            "list": "[`/src/assets/images/main/Menu_section/Image_4.png`]"
                                                                                                        }'>
                    </include>
                    <include src="components/list-image.html" locals='{
                                                                                                            "list": "[`/src/assets/images/main/Menu_section/Image_5.png`]"
                                                                                                        }'>
                    </include>
                </div>
                <div class="seafood-wrap">
                    <div class="title-wrap">
                        <h1>Fresh seafood soups</h1>
                        <q class="title-qcontent">Our seafood chowder is a symphony of flavors and fragrances derived from the ocean. Meticulously chosen fresh
                            seafood
                            elements harmoniously blend together to provide an unforgettable gustatory journey.</q>
                    </div>
                </div>
                <div class="seafood-imagegrid">
                    <include src="components/list-image.html" locals='{
                                                                                                        "list": "[`/src/assets/images/main/Menu_section/Image_1.png`]"
                                                                                                    }'>
                    </include>
                    <div class="seafood-content">
                        <div class="seafood-contentwrap">
                            <q>Our seafood chowder is a symphony of flavors and fragrances derived from the ocean. Meticulously chosen fresh
                                seafood
                                elements harmoniously blend together to provide an unforgettable gustatory journey.</q>
                        </div>
                    </div>
                    <include src="components/list-image.html" locals='{
                                                                                                        "list": "[`/src/assets/images/main/Menu_section/Image_3.png`]"
                                                                                                    }'>
                    </include>
                    <div class="seafood-contentseccon-last">
                        <div class="seafood-contentwrap">
                            <h5>FULL MENU</h5>
                            <q>Discover a tantalizing array of seafood delights that await you. Explore our menu and immerse yourself in a
                                culinary
                                journey that will satisfy your cravings for the finest flavors from the sea.</q>
                        </div>
                    </div>
                    <include src="components/list-image.html" locals='{
                                                                                                                            "list": "[`/src/assets/images/main/Menu_section/Image_4.png`]"
                                                                                                                        }'>
                    </include>
                    <include src="components/list-image.html" locals='{
                                                                                                                            "list": "[`/src/assets/images/main/Menu_section/Image_5.png`]"
                                                                                                                        }'>
                    </include>
                    <div class="seafood-contentseccon">
                        <div class="seafood-contentwrap">
                            <h5>FULL MENU</h5>
                            <q>Discover a tantalizing array of seafood delights that await you. Explore our menu and immerse yourself in a
                                culinary
                                journey that will satisfy your cravings for the finest flavors from the sea.</q>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
